<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Medicines</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" href="https://yt3.ggpht.com/ytc/AMLnZu-0bY4NaExphby-ARMZtEXnhrE0VVrzYqo2H1I=s900-c-k-c0x00ffffff-no-rj"
          type="image/jpeg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="header">
    <div class="d-flex justify-content-between align-items-center">
        <p>Welcome, <span th:text="${session.userName}"></span>!</p>
        <a th:href="@{/cart}" class="btn btn-primary">Go to Cart</a>
        <form action="/logout">
            <input type="submit" value="Log Out" class="btn btn-primary"/>
        </form>
    </div>
</div>
<div class="content">
    <h1>Medicines</h1>
    <th:block th:if="${#lists.isEmpty(medicines)}">
        <p class="no-medicines-message">No medicines found.</p>
    </th:block>
    <th:block th:unless="${#lists.isEmpty(medicines)}">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Manufacturer</th>
                <th>Price</th>
                <th>Description</th>
                <th>Prescription Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="medicine : ${medicines}">
                <td th:text="${medicine.medicineName}"></td>
                <td th:text="${medicine.manufacturer}"></td>
                <td th:text="${medicine.price}"></td>
                <td th:text="${medicine.description}"></td>
                <td th:if="${medicine.prescriptionRequired}" style="color: red;">Prescription Needed</td>
                <td th:unless="${medicine.prescriptionRequired}" style="color: green;">No Prescription Needed</td>
                <td>
                    <form th:action="@{'/buy/' + ${medicine.id}}" method="post" th:object="${medicine}">
                        <input type="submit" value="Add to cart" class="btn btn-primary"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </th:block>
</div>
</body>
</html>
