<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Your service - Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon"
          href="https://yt3.ggpht.com/ytc/AMLnZu-0bY4NaExphby-ARMZtEXnhrE0VVrzYqo2H1I=s900-c-k-c0x00ffffff-no-rj"
          type="image/jpeg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<br/>
<form th:action="@{/registration}" method="post">
    <input type="hidden" name="command" value="signup"/>
    <label for="login">Login:</label>
    <br/>
    <input type="text" name="login" id="login" value=""/>
    <br/>
    <label for="password">Password:</label>
    <br/>
    <input type="password" name="password" id="password" value=""/>
    <br/>
    <label for="firstName">First Name:</label>
    <br/>
    <input type="text" name="firstName" id="firstName" value=""/>
    <br/>
    <label for="lastName">Last Name:</label>
    <br/>
    <input type="text" name="lastName" id="lastName" value=""/>
    <br/>
    <label for="dateOfBirth">Date of Birth:</label>
    <br/>
    <input type="text" name="dateOfBirth" id="dateOfBirth" value=""/>
    <br/>
    <span class="small-text">(Format: dd-MM-yyyy)</span>
    <br/>
    <input type="submit" name="submit" value="Register"/>
    <br/>
    <span th:text="${failed}" th:if="${failed} != null" style="color: red;"></span>
</form>
</body>
</html>
